# Question 1
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your Banswer by indicating what happens in every executed statement.

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [2]:
a

0

In [3]:
b()

In [4]:
b()

In [5]:
a

4

In [6]:
b()

In [7]:
a

6

Value Displayed is 6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [8]:
def fileLength(filename):
    " takes the name of a file as input and returns the length of the file"
    try:
        infile = open (filename,'r')
        content = infile.read ()
        length = len(content)
        print (length)
        infile.close()
    except :
        print ("File {} not found".format (filename))

In [11]:
fileLength("C:\\Users\\Rakshit Wilson\\Desktop\\fileLength(1).txt")

123

In [12]:
fileLength("idterm.py")

File idterm.py not found

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [13]:
class Marsupial:
    "Class enques unlimited number of items and print out all the queue"
    def __init__(self):
        self.q = []

    def put_in_pouch (self, item):
        return self.q.append(item)

    def pouch_contents(self):
        return self.q

In [14]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [15]:
class Kangaroo (Marsupial):
    "Subclass of class Marsupial , takes x and y coordinates and print out a statement defining the animal and the location in coordinates"
    
    def __init__(self,xcoord=0,ycoord=0):
        self.q = []
        self.x = xcoord
        self.y = ycoord
        
        
    def jump (self,dx,dy):
        self.x+=dx
        self.y+=dy
        
    def __str__(self):
        
        return ('Iam a Kangaroo located at coordinates ({},{})'.format(self.x, self.y))

In [16]:
k = Kangaroo(0,0)
print(k)

Iam a Kangaroo located at coordinates (0,0)

In [17]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [19]:
k.jump(1,0)
k.jump(4,0)
k.jump(1,0)
print(k)

Iam a Kangaroo located at coordinates (9,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논
+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [20]:
def collatz(x):
    print(round(x))
    if(x==1):
        return 1
    elif(x%2==0):
        return collatz(x/2)
    elif(x%2!=0):
        return collatz(3*x+1)
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [21]:
def binary (n):
    if n<2:
        print (n)
    else:
        x = bin(n)
        print (x[2:])
binary(3)

11

In [22]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document.Each heading should be indented asfollows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [6]:
from html.parser import HTMLParser

test_param = False
count = 0

def space_generator(count):
    space_str =""
    for i in range(0,count):
        space_str += ""
    return space_str

class Headingparser(HTMLParser):
    def handle_starttag(self,tag,data):
        global test_param
        if tag in ['h1','h2']:
            test_param = True
    def handle_data(self,data):
        global test_param
        global count
        if test_param == True:
            test_param = False
            modified_data = space_generator(count) + data
            print(modified_data)
            count +=1
        
infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = Headingparser()
hp.feed(content)

W3C Mission
Principles

# Question  7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [7]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):  

    def __init__(self, url): 
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs): 
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links

In [8]:
def webdir(url, depth, indent):
    
    try:
        depth_value = int(depth)
        indent_value = int(indent)
        
        if depth_value < 0 or indent_value < 0:      
            raise ValueError
            
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        links = collector.getLinks()                

        if indent_value == 0:
            print('{}'.format(url))

        indent_value += 4
        depth_value = depth_value-1
        
        if depth_value >= 0:
            for link in links:                          
                print('{}{}'.format(indent_value*' ', link), end = '\n')
                if (depth_value) > 0: 
                    webdir(link, depth_value, indent_value)          
                
    except ValueError:
        print("Enter a correct value for depth or indent")
        
webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/one.html
    http://reed.cs.depaul.edu/lperkovic/two.html
        http://reed.cs.depaul.edu/lperkovic/four.html
    http://reed.cs.depaul.edu/lperkovic/three.html
        http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [9]:
import sqlite3
con = sqlite3.connect('DBfile.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather (City text, Country text, Season text,Temperature float,Rainfall float)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [10]:
cur.execute('SELECT * FROM Weather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [11]:
cur.execute('SELECT temperature FROM Weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [12]:
cur.execute('SELECT DISTINCT City FROM Weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [13]:
cur.execute("SELECT * FROM Weather WHERE Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [14]:
cur.execute("SELECT * FROM Weather WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [15]:
cur.execute("SELECT City,country,Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [16]:
cur.execute("SELECT City,country FROM Weather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [17]:
cur.execute("SELECT SUM(Rainfall) FROM Weather WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

In [18]:
cur.execute("SELECT SUM(Rainfall) FROM Weather GROUP BY Season")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

# Question 9
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [19]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
arr=[]
for i in words:
    array=[]
    array.append(i.upper())
    array.append(i.lower())
    array.append(len(i))
    arr.append(array)
print(arr)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words5 = [word for word in words if len(word) >=4]
print(words5)

['quick', 'brown', 'jumps', 'over', 'lazy']

In [21]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
words = [string.upper() for string in words]
print(words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [22]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
words = [string.lower() for string in words]
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [25]:
numbers =[3,5,5,3,5,4,3,4,3]
print("The length of the words in list", len(numbers))

The length of the words in list 9